.blog-container{
    height: 600px;
}
.blog-card img{
    height: 157px;
}
.card-btn{
    background-color: teal;
    border: 0;
    border-radius: 3px;
    color: #fff;
    padding: 10px 15px;
}

@media screen and (max-width: 375px){
    .blog-container{
        margin-top: 650px;
        width: 100%;
    }
    .blog-card{
        margin: 10px 2rem;
        width: 300px;
    }
}