.sidebar-title img{
    height: 70px;
    margin-left: 20px;
}
.sidebar-title span{
    font-size: 15px;
    color: #fff;
    margin-top: 6px;
}
.sidebar-container{
    background-color: #106466;
    height: 100vh;
}
.menu{
    margin-top: 20px;
}
.menu img{
    height: 15px;
    margin: 10px 0;
    margin-left: 25px;
}
.menu ul{
    list-style: none;
}
.menu ul li .link{
    text-decoration: none;
    color: #fff;
}