.service{
    width: 300px;
    height: 250px;
    background-color: #2C3532;
    color: #fff;
    padding: 20px;
    border-radius: 4px;
    margin-left: 25px;
}
.service img{
    height: 60px;
}
.status h4{
    background-color: #ffeaa762;
    padding: 8px 10px;
    border-radius: 3px;
    color: #fdcb6e;
}
