.menu-link ul{
    list-style: none;
    text-align: right;
    margin-top: 20px;
    margin-right: 100px;
}
.menu-link ul li{
    display: inline-block;
    margin: 15px;
    font-size: 18px;
    font-weight: bold;
}
.menu-link ul li .link{
    text-decoration: none;
    color: #fff;
}
.menu-link .link-btn{
    background-color: #106466;
    padding: 20px 25px;
}
.logo-image img{
    height: 100px;
    margin-left: 100px;
}
