.navbar-container{
    width: 100%;
}
.menu-link ul{
    list-style: none;
    text-align: right;
    margin-top: 20px;
    margin-right: 100px;
}
.menu-link ul li{
    display: inline-block;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 10px;
}
.menu-link ul li .link{
    text-decoration: none;
    color: #fff;
}
.logo-image img{
    height: 100px;
    margin-left: 100px;
}
.logo-image .menu-icon img{
    height: 20px;
    display: none;
}
.menu-link .login-btn{
    border: 2px solid #106466;
    padding: 10px 18px;
    border-radius: 4px;
}
.menu-link .login-btn:hover{
        background-color: #106466;
        transition: .5s;
}
.logo{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width: 375px){
    .menu-link ul li{
        display: block;
        text-align: center;
        margin-left: 100px;
    }
    .menu-link{
        display: none;
    }
    #hidden{
        position: absolute;
        top: 80px;
       max-height: 230px;
       width: 100%;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }
    .logoOne img{
        height: 60px;
    }
    .logo-image img{
        margin-left: 10px;
    }
    .logoOne .logo{
        font-size: 16px;
    }
    .logo-image{
        display: flex;
        justify-content: space-between;
    }
    .logo-image .menu-icon img{
        display: block;
        margin-top: 20px;
        cursor: pointer;
    }
}
