.login-section {
    margin: 12rem 35rem;
}
.login-section img{
    height: 30px;
    margin-right: 10px;
}
.login-user img{
    height: 30px;
    margin-right: 10px;
}
.login-btn{
    background-color: transparent;
    border: 0;
}
.signIn{
    width: 200px;
    border: 2px solid gray;
    padding: 5px;
    border-radius: 8px;
}
.login-container{
    display: flex;
    justify-content: center;
    margin-top: 11rem;
}